{% extends "blog/base.html" %}
{% block content %}
    <h2>{{ object.title }}</h2>
    <p>{{ object.content }}</p>
    <p>Written by {{ object.author }} on {{ object.date_posted }}</p>
    {% if object.author == user %}
        <a href="{% url 'post-update' object.id %}">Edit</a>
        <a href="{% url 'post-delete' object.id %}">Delete</a>
    {% endif %}
{% endblock %}


{% extends "blog/base.html" %}
{% block content %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>

    <h3>Comments</h3>
    {% for comment in post.comments.all %}
        <p>{{ comment.content }} - by {{ comment.author }}</p>
        {% if comment.author == user %}
            <a href="{% url 'comment-update' comment.id %}">Edit</a> |
            <a href="{% url 'comment-delete' comment.id %}">Delete</a>
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
        <h3>Add a Comment</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Post Comment</button>
        </form>
    {% else %}
        <p>You must <a href="{% url 'login' %}">login</a> to comment.</p>
    {% endif %}
{% endblock %}
